<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <header>
            <h1>Edit Task</h1>
        </header>

        <section class="task-form">
            <form action="{{ url_for('update_task', id=task[0]) }}" method="POST">
                <div class="input-group">
                    <label for="title">Task Title</label>
                    <input type="text" name="title" id="title" value="{{ task[1] }}" required>
                </div>

                <div class="input-group">
                    <label for="description">Task Description</label>
                    <textarea name="description" id="description" required>{{ task[2] }}</textarea>
                </div>

                <div class="input-group">
                    <label for="done">Task Status</label>
                    <input type="checkbox" name="done" id="done" {% if task[3] %} checked {% endif %}>
                    <span>Mark as completed</span>
                </div>

                <button type="submit" class="btn">Update Task</button>
            </form>
        </section>
    </div>
</body>

</html>
